{
    "presets": [
      [
        "@babel/env",
        {
          "targets": {
            "firefox": "40",
            "chrome": "17",
            "ie": "11"
          }
        }
      ],
      ["@babel/preset-typescript", {
        "allExtensions": true
      }]
    ],
    "plugins": [
      "@babel/proposal-class-properties",
      "@babel/proposal-object-rest-spread"
    ]
  }