{
    "presets": [
      [
        "@babel/env",
        {
          "targets": {
            "chrome": "63"
          }
        }
      ],
      ["@babel/preset-typescript", {
        "allExtensions": true
      }]
    ]
  }
